*::selection {
  background-color: black;
  color: #fff;
}

.gap {
  gap: 20px;
}

nav li a.active {
  color: #0a58ca !important;
}
.navbar-brand {
  font-size: 26px;
}

button.navbar-toggler:focus {
  box-shadow: none;
}

.carousel-inner .promo {
  z-index: 1;
}
.carousel-indicators button.active {
  background-color: #0a58ca !important;
}

.btn-ind {
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 1 !important;
}

.portfolio a:hover {
  color: #0a58ca !important;
}

.portfolio .card > a {
  transition: 0.3s;
}
.portfolio .card > a:hover {
  transform: translateY(-20px);
}

.infrastructure {
  background-color: #3e64ff;
  padding: 120px 0;
}
@media screen and (max-width: 960px) {
  ul.gap {
    gap: 0;
  }
}
